In [1]:
#Tuple

In [2]:
t=(1,2,3)

In [3]:
type(t)

tuple

In [4]:
len(t)

3

In [5]:
t[1]

2

In [6]:
 y='abcdefghij'

In [9]:
y[::-1]

'jihgfedcba'

In [10]:
z=[1,2,3]

In [11]:
z[::-1]

[3, 2, 1]

In [14]:
z.reverse()

In [15]:
z

[1, 2, 3]

In [16]:
q=(1,2,3)

In [17]:
#Sets

In [23]:
myset=set()

In [26]:
myset

{1}

In [27]:
myset.add(2)

In [28]:
 mylst=[1,1,1,1,12,3,4,4,5,5,6,7,74,2,2]

In [29]:
set(mylst)

{1, 2, 3, 4, 5, 6, 7, 12, 74}

In [30]:
#Booleans

In [31]:
False

False

In [32]:
True

True

In [33]:
1>2

False

In [34]:
1==1

True

In [36]:
B=None

In [37]:
B

In [38]:
#I/O with basic .txt files
# this method works only with jupyter notebook

In [39]:
$ ipython locate

SyntaxError: invalid syntax (<ipython-input-39-d870970cb45f>, line 1)

In [52]:
%%writefile myfile.txt
Hello this is me
that is u
this is us

Overwriting myfile.txt

In [41]:
myfile= open('myfile.txt')

In [42]:
pwd

'C:\\Users\\user'

In [43]:
myfile.readlines()

['Hello this is me\n', 'Hello that is u\n', 'Hello this is us\n']

In [44]:
myfile.read()

''

In [45]:
myfile.seek(0)

0

In [46]:
myfile.read()

'Hello this is me\nHello that is u\nHello this is us\n'

In [49]:
myfile.seek(0)

0

In [51]:
myfile.readlines()

['Hello that is u\n', 'Hello this is us\n']

In [53]:
myfile.readlines()

[]

In [61]:
myfile.seek(0)

0

In [62]:
myfile.readlines()

['Hello this is me\n', 'that is u\n', 'this is us\n']

In [58]:
content=myfile.read()

In [59]:
content

'Hello this is me\nthat is u\nthis is us\n'

In [65]:
with open('myfile.txt') as mynewfile:
    content=mynewfile.read()

In [67]:
content

'Hello this is me\nthat is u\nthis is us\n'

In [73]:
%%writefile mefile.txt
1 is one
2 is two
3 is three

Overwriting mefile.txt

In [74]:
with open('mefile.txt',mode='r')as f:
    print(f.read())

1 is one
2 is two
3 is three

In [75]:
with open('mefile.txt',mode='a')as f:
    f.write('4 is four')

In [76]:
with open('mefile.txt',mode='r')as f:
    print(f.read())

1 is one
2 is two
3 is three
4 is four

In [78]:
with open('asd.txt',mode='w')as f:
    f.write('I take this mountain')

In [79]:
with open('asd.txt',mode='r')as f:
    print(f.read())

I take this mountain